header {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}
.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00ffcb;
    top: 0;
    width: 100%;
}

.nav-bar-element {
    float: left;
}
.nav-bar-element a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.flower-selection-block {
    background-color: rgba(210, 210, 210, 0.5);
    border: 1px solid #000;
    padding: 0.5rem;
    display: flex;

}
.list-flowers {
    background: rgb(230,233,230);
    margin-left: 40px;
    flex: 40%;
}
.list-flowers-item {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-bottom-style: dashed;
}
.list-flowers-item-info {
    display: flex;
    font-size: 10px;
    flex-direction: column;
}

.list-flowers-item-img {
    margin-left: 20px;
    margin-right: 30px;
}
body {

}

.search_params {
    flex: 10%;
    background-color: #00ffcb;
}
