@font-face {
    font-family: "SignikaNegative-Bold";
    src: url("/static/fonts/static/SignikaNegative-Bold.ttf");
}
@font-face {
    font-family: "SignikaNegative-Regular";
    src: url("/static/fonts/static/SignikaNegative-Regular.ttf");
}
@font-face {
    font-family: "SignikaNegative-Medium.";
    src: url("/static/fonts/static/SignikaNegative-Medium.ttf");
}
header {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 0 0 0  0;
}
.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: flex-start;
    align-items: center;
    background-color: rgb(94,84,93);
    top: 0;
    width: 100%;
}

.nav-bar-element:hover {
    border-bottom-style: solid;
}
.nav-bar-element strong, .nav-bar-element a
{
    font-family: SignikaNegative-Medium, serif;
    display: block;
    color: white;
    background-color: rgb(94,84,93);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.flower-selection-block {
    background-color: rgb(251,251,251);
    border: 1px solid #000;
    padding: 0.5rem;
    display: flex;

}
.list-flowers {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-flowers-item {
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    display: flex;
    background-color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 200px;

}
.list-flowers-item:hover {
    box-shadow: 0 0 5px 2px black;
}
.list-flowers-item-info {
    align-content: center;
    height: fit-content;
    color: black;
    font-family: SignikaNegative-Regular, serif;
}

.list-flowers-item-img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
body {
    margin: 0 0 0 0;
    background-color: rgb(251,251,251);
}

.search_params {
    height: fit-content;
    padding: 40px 40px 40px 40px;
}
.star-wrapper {
    direction: rtl;
}
.star-wrapper a {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
}
.star-wrapper a:hover {
    color: gold;
    transform: scale(1.3);
}
.s1:hover ~ a {
    color: gold;
}
.s2:hover ~ a {
    color: gold;
}
.s3:hover ~ a {
    color: gold;
}
.s4:hover ~ a {
    color: gold;
}
.s5:hover ~ a {
    color: gold;
}

h1,h2,h3,h4,h5,h6 {
    font-family: SignikaNegative-Bold, sans-serif;
    font-size: 35px;

}
.flower-description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 40px 40px 40px 40px;

}
.list-flowers-item-info > p {
    font-family: SignikaNegative-Regular, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
a {
    text-decoration: none;
}
.comment-container {
    margin-left: 40px;
}

.flower-container {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.author-comment {
    font-family: SignikaNegative-Regular, serif;
    font-size: 20px;
}
.inline-author {
    font-family: SignikaNegative-Medium, serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

input[type=submit] {
    font-family: SignikaNegative-Regular, serif;
    font-size: 15px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(94,84,93);
    color: white;
    width: fit-content;

}


.form-container {
    margin-top: 20px;
    font-family: SignikaNegative-Medium, serif;
    font-size: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
.form-container input[type="text"], .form-container input[type="password"], .form-container input[type="number"] {
    font-family: SignikaNegative-Regular, serif;
    padding: 10px 5px 10px 5px;
    display: block;
    width: 100%;

    margin-right: 0;
}
.form-container label {
    font-family: SignikaNegative-Regular, serif;
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-block;

}
.form-container .text-field {
    display: block;
    margin-bottom: 15px;
}
.form-container form {
    align-self: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    background-color: white;
    max-width: 680px;

}
table {
    font-family: SignikaNegative-Regular, serif;
    font-size: 15px;
    border-radius: 10px;
    text-align: center  ;
}
table th {
    background-color: rgb(94,84,93);
    color: white;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: black;
}



