<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<header>
    <nav >

        <ul class="nav_bar">
            <li class="nav-bar-element"><strong>Flower Shop</strong></li>
            <li class="nav-bar-element"><a href="/">Home</a></li>
            <li sec:authorize="isAnonymous()" class="nav-bar-element"><a href="/login">Log-in</a></li>
            <li sec:authorize="isAnonymous()" class="nav-bar-element"><a href="/registration">Registration</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-bar-element"><a href="/basket"><img src='/static/img/shoppingbasket.png' width="30" height="30" ></a></li>
            <li sec:authorize="isAuthenticated()" class="nav-bar-element">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value=" {{_csrf.token}}">
                    <input type="submit" value="Sign Out" class="c-button submit service"/>
                </form>
            </li>
            <li sec:authorize="hasAnyAuthority('Administrator', 'Moderator')" class="nav-bar-element"><a href="/create">Создать цветок</a></li>
            <li sec:authorize="hasAuthority('Administrator')" style="border-bottom: solid" class="nav-bar-element"><a href="/userlist">Список пользователей</a></li>

        </ul>
    </nav>
</header>
<main>
    <div style="display: flex; flex-direction: row; justify-content: center; justify-items: center " class="b-container">
        <table>
            <caption>User list </caption>
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Roles</th>
                <th scope="col">Delete</th>
                <th scope="col">Change Roles</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,iterStat : ${UserList}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getRoles.toString()}" th:id="${user.getId()}"></td>
                <td>
                    <form method="post" action="/delete_user">
                        <input hidden type="number" name="id" th:value="${user.getId()}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
                <td>
                    <button th:value="${RolesCode[iterStat.index]} +${' ' + user.getUsername()}" th:name="${user.getId()}" class="changeRoles">Change roles</button>


                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<div id="hidden-window" style="display:none; position: absolute; top: 30%; left: 40%; border-style: solid">
    <button class="form-button" id="closeWindow">Close window</button>
    <h2 id="header">Change</h2>
    <form action="/change_user_roles" method="post">
        <input hidden name="id" id="UserIdInput" value="" />
        <div class="form-group">
            <label><input type="checkbox" id="role1" name="roles[]" value="Administrator"/>Admin</label><br/>
            <label><input type="checkbox" id="role2" name="roles[]" value="DefaultUser"/>DefaultUser</label><br/>
            <label><input type="checkbox" id="role3" name="roles[]" value="Moderator"/>Moderator</label><br/>
        </div>
        <button  type="submit" class="form-button">Save</button>
    </form>
</div>
<script>
    let buttonEditRoles = document.querySelectorAll(".changeRoles");
    var roleInputs = document.querySelectorAll(".form-group input");
    var windowBlock = document.getElementById("hidden-window");
    var userIdField = document.getElementById("UserIdInput");
    console.log(userIdField);
    for (let i = 0; i < buttonEditRoles.length; i++) {
        buttonEditRoles[i].addEventListener("click",
            () => {
                document.getElementById("header").innerHTML = "Change " + buttonEditRoles[i].value.slice(4) + " roles";
                console.log(buttonEditRoles[i].name);
                userIdField.value = buttonEditRoles[i].name;
                console.log(userIdField.value);
                roleInputs[0].checked = buttonEditRoles[i].value[0] === "1";
                roleInputs[1].checked = buttonEditRoles[i].value[1] === "1";
                roleInputs[2].checked = buttonEditRoles[i].value[2] === "1";
                ShowWindow();
            });
    }
    document.getElementById("closeWindow").addEventListener("click", CloseWindow);
    function ShowWindow() {
        windowBlock.style.display = "block";
        document.querySelector("main").style.filter = "blur(10px)";
    }
    function CloseWindow() {
        windowBlock.style.display = "none";
        document.querySelector("main").style.filter = "none";
    }
</script>


        <!--     </div>
           <div class="b-popup" id="popup1">
                <div class="b-popup-content">
                    <form method="post">
                        <input hidden type="number" id="UserId" >
                        <ul>
                            <li>
                                <label for="roles[]">Administartor</label>
                                <input type="checkbox" name="roles[]" id="role1" value="Administrator">
                            </li>

                            <li>
                                <label for="roles[]" >DefaultUser</label>
                                <input type="checkbox" name="roles[]" id="role2" value="DefaultUser">
                            </li>
                            <li>
                                <label for="roles[]">Moderator</label>
                                <input type="checkbox" name="roles[]" id="role3" value="Moderator">
                            </li>
                        </ul>
                        <input type="submit" value="Change">
                    </form>
                    <button onclick="PopUpHide" >Close</button>
                </div>
            </div>
        <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
        <script>
            //Скрыть PopUp при загрузке страницы
            PopUpHide();
            //Функция отображения PopUp
            function PopUpShow(UserId){
                $("#UserId").value = UserId;
                let role1 = $("#role1");
                let role2 = $("#role2");
                let role3 = $("#role3");
                let UserRoles = $("#"+ UserId);
                if(UserRoles.contains("Administrator")) {
                    role1.prop('checked', true);
                }
                if(UserRoles.contains("DefaultUser")) {
                    role2.prop('checked', true);
                }
                if(UserRoles.contains(("Moderator"))) {
                    role3.prop('checked',true)
                }
                $("#popup1").show();
            }
            //Функция скрытия PopUp
            function PopUpHide(){
                $("#popup1").hide();
            }

        </script> -->
</body>
</html>