<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav_bar">
                <li class="nav-bar-element"><a href="/">Home</a></li>
                <li sec:authorize="isAnonymous()" class="nav-bar-element"><a href="/login">Вход</a></li>
                <li sec:authorize="isAnonymous()" class="nav-bar-element"><a href="/registration">Регистрация</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-bar-element"><a href="/basket"><img src='/static/img/shoppingbasket.png' width="30" height="30" ></a></li>
                <li sec:authorize="isAuthenticated()" class="nav-bar-element">
                    <form th:action="@{/logout}" method="post">
                        <input type="hidden" name="_csrf" value=" {{_csrf.token}}">
                        <input type="submit" value="Sign Out" class="c-button submit service"/>
                    </form>
                </li>
                <li sec:authorize="hasAnyAuthority('Administrator', 'Moderator')" class="nav-bar-element"><a href="/create">Создать цветок</a></li>
                <li sec:authorize="hasAuthority('Administrator')" class="nav-bar-element"><a href="/userlist">Список пользователей</a></li>

            </ul>
        </nav>
    </header>
    <form method="post">
        <input hidden type="number" th:value="userId">
        <ul>
            <li>
                <label for="roles[]">Administartor</label>
                <input type="checkbox" name="roles[]" value="Administrator" th:checked="${userRoles[0]}">
            </li>

            <li>
                <label for="roles[]" >DefaultUser</label>
                <input type="checkbox" name="roles[]" value="DefaultUser" th:checked="${userRoles[1]}">
            </li>
            <li>
                <label for="roles[]">Moderator</label>
                <input type="checkbox" name="roles[]" value="Moderator" th:checked="${userRoles[2]}">
            </li>
        </ul>
        <input type="submit" value="Изменить">
    </form>
</body>
</html>