<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul class="nav_bar">
            <li class="nav-bar-element"><a href="/">Home</a></li>
            <li class="nav-bar-element"><a href="/create">Создать цветок</a></li>
            <li class="nav-bar-element"><a href="/login">Вход</a></li>
            <li class="nav-bar-element"><a href="/registration">Регистрация</a></li>
            <li >
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value=" {{_csrf.token}}">
                    <input type="submit" value="Sign Out" class="c-button submit service"/>
                </form>
            </li>
        </ul>
    </nav>
</header>
    <p>Create the flower</p>
    <form method="post" enctype="multipart/form-data">
        <p>Name:<input type="text" name="name"></p>
        <p>Description<input type="text" name="description"></p>
        <p>Price <input type="number" name="price"></p>
        <p>Img <input type="file" name="img"></p>
        <p><input type="submit" value="Отправить"></p>
    </form>
</body>
</html>