<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Title</title>
</head>
<body>
<header>
    <nav >

        <ul class="nav_bar">
            <li class="nav-bar-element"><strong>Flower Shop</strong></li>
            <li class="nav-bar-element"><a href="/">Home</a></li>
            <li sec:authorize="isAnonymous()" class="nav-bar-element"><a href="/login">Log-in</a></li>
            <li sec:authorize="isAnonymous()" class="nav-bar-element"><a href="/registration">Registration</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-bar-element"><a href="/basket"><img src='/static/img/shoppingbasket.png' width="30" height="30" ></a></li>
            <li sec:authorize="isAuthenticated()" class="nav-bar-element">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value=" {{_csrf.token}}">
                    <input type="submit" value="Sign Out" class="c-button submit service"/>
                </form>
            </li>
            <li sec:authorize="hasAnyAuthority('Administrator', 'Moderator')" class="nav-bar-element"><a href="/create">Создать цветок</a></li>
            <li sec:authorize="hasAuthority('Administrator')" class="nav-bar-element"><a href="/userlist">Список пользователей</a></li>

        </ul>
    </nav>
</header>
<main class="flower-container">
    <!--Info about flower and img -->
    <div class="flower-description">

        <div class="list-flowers-item-img">
            <div>
                <img th:src="@{'/static/uploads/' + ${flower.getImgName()}}" width="300px" height="300px">
            </div>
            <div class="star-wrapper">
                <form>

                </form>
                <a href="#" class="fas fa-star s1"></a>
                <a href="#" class="fas fa-star s2"></a>
                <a href="#" class="fas fa-star s3"></a>
                <a href="#" class="fas fa-star s4"></a>
                <a href="#" class="fas fa-star s5"></a>
            </div>
            <script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
        </div>
        <div class="list-flowers-item-info">
            <h1 th:text="${flower.name}" name="name"></h1>
            <p th:text="${flower.description}" name="desc"></p>
            <p th:text="${flower.price} + '&#8381'" name="price"> </p>
            <p th:text="'Average rating:' + ${flowerRating}"></p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:switch="${FlowerInBasket}">
                <div th:case="false">
                    <form method="post" action="/AddToBasket">
                        <input type="text" name="FlowerId" hidden th:value="${flower.getId()}">
                        <input type="submit" value="Добавить в корзину">
                    </form>
                </div>

            </div>
            <div th:switch="${flowerRatingUser}">
                <p th:case=0>U dont rate this flower</p>
                <p th:case=1>1*</p>
                <p th:case=2>2*</p>
                <p th:case=3>3*</p>
                <p th:case=4>4*</p>
                <p th:case=5>5*</p>

            </div>
        </div>
        <div class="rating">
            <form method="post" action="/review">
                <input hidden type="text" name="flowerId" th:value="${flower.id}">
                <label for="user-rating">Input rating of this flower</label>
                <input type="number" name="userRating">
                <input type="submit" value="Send review">
            </form>

        </div>
        <div sec:authorize="hasAnyAuthority('Moderator', 'Administrator')">
            <form th:method="post" action="/delete">
                <input type="text" name="FlowerId" th:value="${flower.getId()}" hidden>
                <input type="submit" value="Удалить цветок">
            </form>

        </div>
        <div sec:authorize="hasAnyAuthority('Moderator', 'Administrator')">
            <form th:method="post" action="/update">
                <p><input type="text" name="id" th:value="${flower.getId()}" hidden> </p>
                <p>Name:<input type="text" name="name" th:value="${flower.name}"></p>
                <p>Description<input type="text" name="description" th:value="${flower.description}"></p>
                <p>Price <input type="number" name="price" th:value="${flower.price}"></p>
                <input type="submit" value="Update">
            </form>

        </div>
    </div>
    <div class="comment-container">
        <h4 sec:authorize="isAuthenticated()">Leave Comment</h4>
        <div sec:authorize="isAuthenticated()">
            <form action="/LeaveComment" method="post">
                <input hidden name="FlowerId" th:value="${flower.getId()}" >
                <textarea name="Text" cols="15" rows="50"></textarea>
                <input type="submit" value="Leave">
            </form>
        </div>


        <h4>All comments</h4>
        <div th:each="comment : ${comments}">
            <div class="author-comment">
                <div class="inline-author">
                    <img src="/static/img/DefaultUserImg.png" width="100px" height="100px" alt="user_img"/>
                    <p th:text="${comment.getUsername}"></p><br>
                </div>
                <p th:text="${comment.getText}"></p>

            </div>
        </div>
    </div>




        <br><br><br>
</main>
</body>
</html>