<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul class="nav_bar">
            <li class="nav-bar-element"><a href="/">Home</a></li>
            <li class="nav-bar-element"><a href="/create">Создать цветок</a></li>
            <li class="nav-bar-element"><a href="/login">Вход</a></li>
            <li class="nav-bar-element"><a href="/registration">Регистрация</a></li>
            <li class="nav-bar-element"><a href="/basket"><img src='/static/img/shoppingbasket.png' width="30" height="30" ></a></li>
            <li >
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value=" {{_csrf.token}}">
                    <input type="submit" value="Sign Out" class="c-button submit service"/>
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
        <div class="list-flowers-item-img">
            <img th:src="@{'/static/uploads/' + ${flower.getImgName()}}" width="100" height="100">
        </div>
        <div class="list-flowers-item-info">
            <label for="name">Flower Name: </label>
            <p th:text="${flower.name}" name="name"></p>
            <label for="desc">Description</label>
            <p th:text="${flower.description}" name="desc"></p>
            <label for="price">Price</label>
            <p th:text="${flower.price}" name="price"> </p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:switch="${FlowerInBasket}">
                <div th:case="false">
                    <form method="post" action="/AddToBasket">
                        <input type="text" name="FlowerId" hidden th:value="${flower.getId()}">
                        <input type="submit" value="Добавить в корзину">
                    </form>
                </div>

            </div>
        </div>
            <form th:method="post" action="/delete">
                <input type="text" name="FlowerId" th:value="${flower.getId()}" hidden>
                <input type="submit" value="Удалить цветок">
            </form>

        <div>
        </div>
            <form th:method="post" action="/update">
                <p><input type="text" name="id" th:value="${flower.getId()}"> </p>
                <p>Name:<input type="text" name="name" th:value="${flower.name}"></p>
                <p>Description<input type="text" name="description" th:value="${flower.description}"></p>
                <p>Price <input type="number" name="price" th:value="${flower.price}"></p>
                <input type="submit" value="Обновить данные">
            </form>

        </div>


        <h4>Leave Comment</h4>
        <div sec:authorize="isAuthenticated()">
            <form action="/LeaveComment" method="post">
                <input hidden name="FlowerId" th:value="${flower.getId()}" >
                <textarea name="Text" cols="15" rows="15"></textarea>
                <input type="submit" value="Leave">
            </form>
        </div>


        <h4>All comments</h4>
        <div th:each="comment : ${comments}">
            <div>
                <p th:text="${comment.getUsername}"></p><br>
                <p th:text="${comment.getText}"></p>

            </div>
        </div>


        <br><br><br>
</main>
</body>
</html>