<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <!--/*@thymesVar id="FlowerList" type="java.lang.Iterable<ru.sinforge.mywebapplication.Entities.Flower>"*/-->
        <tr th:each="flower : ${FlowerList}">
            <td th:text="${flower.name}"></td>
            <td th:text="${flower.description}"></td>
            <td th:text="${flower.price}"> </td>
            <!--<td><img th:src="/uploads/${flower.getImgName()}"></td> не работает я хз поч!-->
        </tr>
    </table>



</body>
</html>