<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <!--/*@thymesVar id="FlowerList" type="java.lang.Iterable<ru.sinforge.mywebapplication.Entities.Flower>"*/-->
        <div th:each="flower : ${FlowerList}">
            <label for="name">Flower Name: </label>
            <p th:text="${flower.name}" name="name"></p>
            <label for="desc">Description</label>
            <p th:text="${flower.description}" name="desc"></p>
            <label for="price">Price</label>
            <p th:text="${flower.price}" name="price"> </p>
            <p><img th:src="@{'/static/uploads/' + ${flower.getImgName()}}" width="100" height="100"> </p>
            <br><br><br>
        </div>




</body>
</html>