<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="list_of_flowers" type="java.lang.Iterable<ru.sinforge.mywebapplication.Entities.Flower>"*/-->
    <div th:each="flower : ${list_of_flowers}">
        <div>
            <label for="name">Flower Name: </label>
            <p th:text="${flower.name}" name="name"></p>
            <label for="desc">Description</label>
            <p th:text="${flower.description}" name="desc"></p>
            <label for="price">Price</label>
            <p th:text="${flower.price}" name="price"> </p>
        </div>
        
    </div>
</body>
</html>